#cielo-card-brand:before,
#cielo-card-brand:after {
    content: " ";
    display: table;
}

#cielo-card-brand:after {
    clear: both;
}

#cielo-card-brand {
	margin: 0;
	padding: 0;
	list-style: none;
	float: none;
	width: 100%;
    *zoom: 1;
}

#payment .payment_methods #cielo-card-brand li {
	padding: 0 !important;
}

#cielo-card-brand li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 30px 5px 0 !important;
	border: none !important;
}

#cielo-card-brand li:last-child {
	margin-right: 0 !important;
}

#cielo-card-brand span {
	display: none;
}

#cielo-card-brand input {
	display: inline;
	margin: 0 !important;
}

#cielo-card-brand label {
	display: block;
	text-align: center;
}

#cielo-card-brand i {
	background-image: url("../images/cards.png");
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 19px;
}

#cielo-icon-visa {
	width: 60px;
}

#cielo-icon-mastercard {
	background-position: -60px 0;
	width: 31px;
}

#cielo-icon-diners {
	background-position: -91px 0;
	width: 31px;
}

#cielo-icon-amex {
	background-position: -122px 0;
	width: 35px;
}

#cielo-icon-discover {
	background-position: -157px 0;
	width: 29px;
}

#cielo-icon-jcb {
	background-position: -186px 0;
	width: 26px;
}

#cielo-icon-elo {
	background-position: -212px 0;
	width: 19px;
}

#cielo-icon-aura {
	background-position: -231px 0;
	width: 31px;
}

#cielo-icon-visaelectron {
	background-position: -262px 0;
	width: 31px;
}

#cielo-icon-maestro {
	background-position: -293px 0px;
	width: 32px;
}

#cielo-select-name {
	border-top: 1px solid #ccc;
	font-size: 1.3em;
	margin: 10px 0 5px !important;
	padding: 10px 0 0;
}

#cielo-select-name strong {
	font-weight: 700;
}

@media screen and (max-width: 550px)  {
	.cielo-payment-form .form-row-first,
	.cielo-payment-form .form-row-last {
		float: none !important;
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
		padding-top: 0 !important;
		width: 100% !important;
	}
}
