#payment .payment_methods li .payment_box #cielo-card-number.elo {
	background-image: url("../images/elo.png") !important;
}

#payment .payment_methods li .payment_box #cielo-card-number.aura {
	background-image: url("../images/aura.png") !important;
}
