.cielo-webserviceintegrada-list {
  color: #767670;
  font-size: 16px;
  list-style: disc;
  margin-bottom: 28px;
}
.cielo-webserviceintegrada-list .cielo-webserviceintegrada-list {
  margin-bottom: 0;
}
.cielo-webserviceintegrada {
  margin: 0 auto;
  position: relative;
}
.cc-brand {
display: inline-block !important;
width: auto !important;
border: none !important;
margin:0px !important;

}
.cielo-webserviceintegrada .numbers {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border: 1px solid #bbc;
  left: 80px;
  margin-bottom: 28px;
  padding: 14px 20px;
  position: absolute;
  top: 156px;
  z-index: 10;
}
.cielo-webserviceintegrada .numbers p {
  margin-bottom: 0;
}
.cielo-webserviceintegrada .vertical {
  overflow: hidden;
}
.cielo-webserviceintegrada .vertical li {
  float: left;
  display: inline-block;
  margin-right: 15px !important;
}
.cielo-webserviceintegrada .vertical li .or {
  color: #aaa;
  float: left;
  font-size: 12px;
  margin-left: -8px;
  margin-top: 30px;
}

 
.cielo-webserviceintegrada .vertical input {
  max-width: 68px;
}
.cielo-webserviceintegrada ol, .cielo-webserviceintegrada ul {
  list-style: none;
  padding: 2px 0px 2px 0px !important;
}
.cielo-webserviceintegrada .numbers .cielo-webserviceintegrada-list {
  margin-bottom: 0;
}
#content {
  background-color: #fff;
  margin-bottom: 140px;
  padding: 0 20px;
}
.cielo-webserviceintegrada li {
  margin: 8px 0;
}
.cielo-webserviceintegrada label {
  color: #555;
  display: block;
  font-size: 14px;
  font-weight: 400;
}
.cielo-webserviceintegrada label small {
  color: #aaa;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
}
.cielo-expiry_date, .cielo-cvv {
  float:left;
  margin-left:15px !important;
  display: inline-block;
  max-width: 127px;
}
.cielo-card_number {
  float:left;
  display: inline-block;
  margin-right:15px !important;
}
.cielo-webserviceintegrada input {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #333;
  display: block;
  font-size: 18px;
  height: 32px;
  width: 100%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.cielo-webserviceintegrada input::-webkit-input-placeholder {
  color: #ddd;
}
.cielo-webserviceintegrada input:-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
.cielo-webserviceintegrada input::-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
.cielo-webserviceintegrada input:-ms-input-placeholder {
  color: #ddd;
}
.cielo-webserviceintegrada input:focus {
  outline: 1px solid #3388dd;
}
.cielo-webserviceintegrada #card_number {
  background-image: url(../images/images.png), url(../images/images.png);
  background-position: 2px -121px, 260px -61px;
  background-size: 120px 361px, 120px 361px;
  background-repeat: no-repeat;
  padding-left: 54px;
  max-width: 225px;
  float:left;
}
.cielo-webserviceintegrada #card_number.visa {
  background-position: 2px -163px, 260px -61px;
}
.cielo-webserviceintegrada #card_number.visa_electron {
  background-position: 2px -205px, 260px -61px;
}
.cielo-webserviceintegrada #card_number.mastercard {
  background-position: 2px -247px, 260px -61px;
}
.cielo-webserviceintegrada #card_number.maestro {
  background-position: 2px -289px, 260px -61px;
}
.cielo-webserviceintegrada #card_number.discover {
  background-position: 2px -331px, 260px -61px;
}
.cielo-webserviceintegrada #card_number.valid.visa {
  background-position: 2px -163px, 260px -87px;
}
.cielo-webserviceintegrada #card_number.valid.visa_electron {
  background-position: 2px -205px, 260px -87px;
}
.cielo-webserviceintegrada #card_number.valid.mastercard {
  background-position: 2px -247px, 260px -87px;
}
.cielo-webserviceintegrada #card_number.valid.maestro {
  background-position: 2px -289px, 260px -87px;
}
.cielo-webserviceintegrada #card_number.valid.discover {
  background-position: 2px -331px, 260px -87px;
}